
<body>
    <!-- Main content -->
   
    <!-- Side cover login -->
    <section>
        <div class="bg-primary position-absolute h-100 top-0 left-0 zindex-100 col-lg-6 col-xl-6 zindex-100 d-none d-lg-flex flex-column justify-content-end" data-bg-size="cover" data-bg-position="center">
            <!-- Cover image -->
            <img src="quick-ui/src/assets/img/theme/light/img-v-2-11.jpg" alt="Image" class="img-as-bg">
            <!-- Overlay text -->
            <div class="row position-relative zindex-110 p-5">
                <div class="col-md-8 text-center mx-auto">
                    <span class="badge badge-primary badge-pill">SurgiWiki</span>
                    <h5 class="h5 text-black mt-3">Build an open-content collaborative database</h5>
                    <p class="text-white">
                        For Surgical Techs and Nurses.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column">
            <div class="row align-items-center justify-content-center justify-content-lg-end min-vh-100">
                <div class="col-sm-7 col-lg-6 col-xl-6 py-6 py-md-0">
                    <div class="row justify-content-center">
                        <div class="col-11 col-lg-10 col-xl-6">
                            <div>
                                <div class="mb-5">
                                    <h6 class="h3 mb-1">Log in</h6>
                                </div>
                                <span class="clearfix"></span>
                             

                                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                                    <div class="field">
                                        <%= f.label :email, class: "form-control-label" %><br />
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-prepend" %>
                                    </div>

                                    <div class="field">
                                        <%= f.label :password, class: "form-control-label"%><br />
                                        <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-prepend" %>
                                    </div>
                                    <br>
                                    <div class="field">
                                        <%= f.check_box :remember_me %>
                                        <%= f.label :remember_me, class: "form-control-label"%>
                                    </div>

                                    <div class="actions">
                                        <%= f.submit "Log in", class: "btn btn-block btn-primary"%>
                                    </div>
                                    <br>
                                <% end %>



                                <div class="py-3 text-center">
                                    <span class="text-xs text-uppercase">Or</span>
                                </div>
                                <!-- Alternative login -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="/users/auth/twitter" class="btn btn-block btn-neutral btn-icon mb-3 mb-sm-0">
                                            <span class="btn-inner--icon"><img src="quick-ui/src/assets/img/icons/brands/twitter-white.svg" alt="twitter image"></span>
                                            <span class="btn-inner--text">Twitter</span>
                                        </a>
                                    </div>
                                   
                                </div>
                                <!-- Links -->
                                <div class="mt-4"><small>Not registered?</small>
                                    <a href="/users/sign_up" class="small font-weight-bold">Create account</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Core JS  -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/libs/svg-injector/dist/svg-injector.min.js"></script>
    <script src="../../assets/libs/feather-icons/dist/feather.min.js"></script>
    <!-- Optional JS -->
    <script src="../../assets/libs/in-view/dist/in-view.min.js"></script>
    <script src="../../assets/libs/sticky-kit/dist/sticky-kit.min.js"></script>
    <script src="../../assets/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- Quick JS -->
    <script src="../../assets/js/quick-website.js"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>