<div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-4">
      <div class="card text-center shadow mb-5 bg-gradient-dark rounded">

        <div class="card-body">
          <div class="h5 card-text text-center text-white"><%= @memo.title %></div>
        </div>
        
          <div class="container">
            <h5 class="text-dark"><hr></h5>
            <textarea disabled rows="15" class="small text-dark container bg-white rounded"><%= @memo.description %></textarea>
            <br>
          </div>

        <div>
        <% if @memo.services.any? %>
            <h5 class="text-white">Services:</h5>
            <%@memo.services.each do |i|%>
            <span class="badge badge-white"><%=link_to i.name.upcase, service_path(i) %></span>
            <% end %>
            </br>
            </br>
        <% end %>
        <div>
  

        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@memo.created_at) %> ago, by: <%= @memo.user.username.capitalize %>, </br>
          edited <%= time_ago_in_words(@memo.updated_at) %> ago</small>
          </br>
          </br>
          <%= link_to "Edit", edit_memo_path(@memo), class: "btn-sm btn-white" %>
          <%= link_to "Delete", memo_path(@memo), class: "btn-sm btn-white", method: :delete, data: {confirm: "Are you sure?"} if current_user == @memo.user%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>